Associations <a href="{{ path('elite_fifa.admin_create_association', {'seasonId': season.id }) }}">
    create</a> <br />
{% for association in season.associations %}
    <a href="{{ path('elite_fifa.admin_show_association', {'slug': association.slug, 'season': season.number }) }}">
        {{ association.name }}</a>
{% endfor %}
<br />
Competitors <br />
<table>
    <thead></thead>
    <tbody>
    {% for competitor in season.competitors %}
        <tr>
            <td>{{ competitor.id }}</td>
            <td>{{ competitor.team.name }}</td>
            <td>{{ competitor.user.username }}</td>
            <td><a href="{{ path('elite_fifa.change_competitor', { 'id': competitor.id }) }}">Change</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>