{% extends 'EliteFifaBundle:Layout:base.html.twig' %}

{% block body %}
    <h3>League</h3>
    Season {{ season.startDate | date('Y-m-d') }} - {{ season.endDate | date('Y-m-d') }} <br/>
    <a href="{{ path('elite_fifa.report_ladder_match') }}">Report</a>
    <table>
        <thead>
        <tr>
            <th></th>
            <th>P</th>
            <th>W</th>
            <th>D</th>
            <th>L</th>
            <th>GF</th>
            <th>GA</th>
            <th>GD</th>
            <th>PTS</th>
        </tr>
        </thead>
        <tbody>
        {% for standing in standings %}
            <tr>
                <td>{{ standing.user.username }}
                <td>{{ standing.played }}</td>
                <td>{{ standing.won }}</td>
                <td>{{ standing.drawn }}</td>
                <td>{{ standing.lost }}</td>
                <td>{{ standing.goalsFor }}</td>
                <td>{{ standing.goalsAgainst }}</td>
                <td>{{ standing.goalDifference }}</td>
                <td>{{ standing.points }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}