<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">Available Jobs</div>
        <table class="table">
            <thead>
            <tr>
                <td>Team</td>
                <td>Total Applications</td>
                <td>Region</td>
                <td>Competition</td>
            </tr>
            </thead>
            <tbody>
            {% set hasJobs = false %}
            {% for job in jobs if not job is empty %}
                {% set hasJobs = true %}
            {% endfor %}
            {% if not hasJobs %}
                <tr>
                    Sorry, there are no available teams at the moment
                </tr>
            {% endif %}
            {% for job in jobs %}
                <tr>
                    <td><img src="{{ asset( 'bundles/team/images/' ~ job.competitor.team.logo ) }}" width="40" height="40"/>
                        {{ job.competitor.team.name }}</td>
                    <td><a href="{{ path('elite_fifa.admin_show_job', {'id': job.id}) }}">
                            {{ job.totalApplications }}</a></td>
                    <td>{{ job.region.name }}</td>
                    <td>{{ job.competition.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>