{% extends 'BaseBundle:Layout:base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>{{ competition.name }}</h1>
    </div>

    <h2>Standings</h2>
        <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1default" data-toggle="tab">Overall</a></li>
                    <li><a href="#tab2default" data-toggle="tab">Home</a></li>
                    <li><a href="#tab3default" data-toggle="tab">Away</a></li>
                </ul>
            </div>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1default">
                        <table class="table" style="margin-bottom: 0">
                            <thead>
                                <tr>
                                    <th>Position</th>
                                    <th>Team</th>
                                    <th>Manager</th>
                                    <th>P</th>
                                    <th>W</th>
                                    <th>D</th>
                                    <th>L</th>
                                    <th>GF</th>
                                    <th>GA</th>
                                    <th>GD</th>
                                    <th>Pts</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for standing in overallStandings %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>
                                    <img height="25" width="25" src="{{ asset('bundles/team/images/'  ~ standing.competitor.team.logo ) }}" />
                                    {{ standing.competitor.team.name }}
                                </td>
                                <td>{% if standing.competitor.user is not null %}{{ standing.competitor.user.username }}{% else %}None{% endif %}</td>
                                <td>{{ standing.played }}</td>
                                <td>{{ standing.won }}</td>
                                <td>{{ standing.drawn }}</td>
                                <td>{{ standing.lost }}</td>
                                <td>{{ standing.goalsFor }}</td>
                                <td>{{ standing.goalsAgainst }}</td>
                                <td>{{ standing.goalDifference }}</td>
                                <td>{{ standing.points }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="tab2default">
                        <table class="table" style="margin-bottom: 0">
                            <thead>
                            <tr>
                                <th>Position</th>
                                <th>Team</th>
                                <th>Manager</th>
                                <th>P</th>
                                <th>W</th>
                                <th>D</th>
                                <th>L</th>
                                <th>GF</th>
                                <th>GA</th>
                                <th>GD</th>
                                <th>Pts</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for standing in homeStandings %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>
                                        <img height="25" width="25" src="{{ asset('bundles/team/images/'  ~ standing.competitor.team.logo ) }}" />
                                        {{ standing.competitor.team.name }}
                                    </td>
                                    <td>{% if standing.competitor.user is not null %}{{ standing.competitor.user.username }}{% else %}None{% endif %}</td>
                                    <td>{{ standing.played }}</td>
                                    <td>{{ standing.won }}</td>
                                    <td>{{ standing.drawn }}</td>
                                    <td>{{ standing.lost }}</td>
                                    <td>{{ standing.goalsFor }}</td>
                                    <td>{{ standing.goalsAgainst }}</td>
                                    <td>{{ standing.goalDifference }}</td>
                                    <td>{{ standing.points }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="tab3default">
                        <table class="table" style="margin-bottom: 0">
                            <thead>
                            <tr>
                                <th>Position</th>
                                <th>Team</th>
                                <th>Manager</th>
                                <th>P</th>
                                <th>W</th>
                                <th>D</th>
                                <th>L</th>
                                <th>GF</th>
                                <th>GA</th>
                                <th>GD</th>
                                <th>Pts</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for standing in awayStandings %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>
                                        <img height="25" width="25" src="{{ asset('bundles/team/images/'  ~ standing.competitor.team.logo ) }}" />
                                        {{ standing.competitor.team.name }}
                                    </td>
                                    <td>{% if standing.competitor.user is not null %}{{ standing.competitor.user.username }}{% else %}None{% endif %}</td>
                                    <td>{{ standing.played }}</td>
                                    <td>{{ standing.won }}</td>
                                    <td>{{ standing.drawn }}</td>
                                    <td>{{ standing.lost }}</td>
                                    <td>{{ standing.goalsFor }}</td>
                                    <td>{{ standing.goalsAgainst }}</td>
                                    <td>{{ standing.goalDifference }}</td>
                                    <td>{{ standing.points }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>

    <h2>Form</h2>
        <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1form" data-toggle="tab">Overall</a></li>
                    <li><a href="#tab2form" data-toggle="tab">Home</a></li>
                    <li><a href="#tab3form" data-toggle="tab">Away</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1form">
                    <table class="table" style="margin-bottom: 0">
                        <thead>
                        <tr>
                            <th>Position</th>
                            <th>Team</th>
                            <th>Manager</th>
                            <th>P</th>
                            <th>W</th>
                            <th>D</th>
                            <th>L</th>
                            <th>GF</th>
                            <th>GA</th>
                            <th>GD</th>
                            <th>Pts</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for standing in overallFormStandings %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>
                                    <img height="25" width="25" src="{{ asset('bundles/team/images/'  ~ standing.competitor.team.logo ) }}" />
                                    {{ standing.competitor.team.name }}
                                </td>
                                <td>{% if standing.competitor.user is not null %}{{ standing.competitor.user.username }}{% else %}None{% endif %}</td>
                                <td>{{ standing.played }}</td>
                                <td>{{ standing.won }}</td>
                                <td>{{ standing.drawn }}</td>
                                <td>{{ standing.lost }}</td>
                                <td>{{ standing.goalsFor }}</td>
                                <td>{{ standing.goalsAgainst }}</td>
                                <td>{{ standing.goalDifference }}</td>
                                <td>{{ standing.points }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="tab2form">
                    <table class="table" style="margin-bottom: 0">
                        <thead>
                        <tr>
                            <th>Position</th>
                            <th>Team</th>
                            <th>Manager</th>
                            <th>P</th>
                            <th>W</th>
                            <th>D</th>
                            <th>L</th>
                            <th>GF</th>
                            <th>GA</th>
                            <th>GD</th>
                            <th>Pts</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for standing in homeFormStandings %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>
                                    <img height="25" width="25" src="{{ asset('bundles/team/images/'  ~ standing.competitor.team.logo ) }}" />
                                    {{ standing.competitor.team.name }}
                                </td>
                                <td>{% if standing.competitor.user is not null %}{{ standing.competitor.user.username }}{% else %}None{% endif %}</td>
                                <td>{{ standing.played }}</td>
                                <td>{{ standing.won }}</td>
                                <td>{{ standing.drawn }}</td>
                                <td>{{ standing.lost }}</td>
                                <td>{{ standing.goalsFor }}</td>
                                <td>{{ standing.goalsAgainst }}</td>
                                <td>{{ standing.goalDifference }}</td>
                                <td>{{ standing.points }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="tab3form">
                    <table class="table" style="margin-bottom: 0">
                        <thead>
                        <tr>
                            <th>Position</th>
                            <th>Team</th>
                            <th>Manager</th>
                            <th>P</th>
                            <th>W</th>
                            <th>D</th>
                            <th>L</th>
                            <th>GF</th>
                            <th>GA</th>
                            <th>GD</th>
                            <th>Pts</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for standing in awayFormStandings %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>
                                    <img height="25" width="25" src="{{ asset('bundles/team/images/'  ~ standing.competitor.team.logo ) }}" />
                                    {{ standing.competitor.team.name }}
                                </td>
                                <td>{% if standing.competitor.user is not null %}{{ standing.competitor.user.username }}{% else %}None{% endif %}</td>
                                <td>{{ standing.played }}</td>
                                <td>{{ standing.won }}</td>
                                <td>{{ standing.drawn }}</td>
                                <td>{{ standing.lost }}</td>
                                <td>{{ standing.goalsFor }}</td>
                                <td>{{ standing.goalsAgainst }}</td>
                                <td>{{ standing.goalDifference }}</td>
                                <td>{{ standing.points }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{% endblock %}