{{ competition.name }} <br />

Standings Overall<br />
<table>
    <thead>
        <tr>
            <td>Team</td>
            <td>User</td>
            <td>Played</td>
            <td>Won</td>
            <td>Drawn</td>
            <td>Lost</td>
            <td>GF</td>
            <td>GA</td>
            <td>GD </td>
            <td>Points</td>
        </tr>
    </thead>
    {% for standing in overallStandings %}
    <tbody>
        <tr>
            <td>{{ standing.competitor.team.name }}</td>
            <td>{% if standing.competitor.user is not null %}{{ standing.competitor.user.username }}{% endif %}</td>
            <td>{{ standing.played }}</td>
            <td>{{ standing.won }}</td>
            <td>{{ standing.drawn }}</td>
            <td>{{ standing.lost }}</td>
            <td>{{ standing.goalsFor }}</td>
            <td>{{ standing.goalsAgainst }}</td>
            <td>{{ standing.goalDifference }}</td>
            <td>{{ standing.points }}</td>
        </tr>
    </tbody>
    {% endfor %}
</table>

Standings Home<br />
<table>
    <thead>
    <tr>
        <td>Team</td>
        <td>User</td>
        <td>Played</td>
        <td>Won</td>
        <td>Drawn</td>
        <td>Lost</td>
        <td>GF</td>
        <td>GA</td>
        <td>GD </td>
        <td>Points</td>
    </tr>
    </thead>
    {% for standing in homeStandings %}
        <tbody>
        <tr>
            <td>{{ standing.competitor.team.name }}</td>
            <td>{% if standing.competitor.user is not null %}{{ standing.competitor.user.username }}{% endif %}</td>
            <td>{{ standing.played }}</td>
            <td>{{ standing.won }}</td>
            <td>{{ standing.drawn }}</td>
            <td>{{ standing.lost }}</td>
            <td>{{ standing.goalsFor }}</td>
            <td>{{ standing.goalsAgainst }}</td>
            <td>{{ standing.goalDifference }}</td>
            <td>{{ standing.points }}</td>
        </tr>
        </tbody>
    {% endfor %}
</table>

Standings Away<br />
<table>
    <thead>
    <tr>
        <td>Team</td>
        <td>User</td>
        <td>Played</td>
        <td>Won</td>
        <td>Drawn</td>
        <td>Lost</td>
        <td>GF</td>
        <td>GA</td>
        <td>GD </td>
        <td>Points</td>
    </tr>
    </thead>
    {% for standing in awayStandings %}
        <tbody>
        <tr>
            <td>{{ standing.competitor.team.name }}</td>
            <td>{% if standing.competitor.user is not null %}{{ standing.competitor.user.username }}{% endif %}</td>
            <td>{{ standing.played }}</td>
            <td>{{ standing.won }}</td>
            <td>{{ standing.drawn }}</td>
            <td>{{ standing.lost }}</td>
            <td>{{ standing.goalsFor }}</td>
            <td>{{ standing.goalsAgainst }}</td>
            <td>{{ standing.goalDifference }}</td>
            <td>{{ standing.points }}</td>
        </tr>
        </tbody>
    {% endfor %}
</table>

Matches <br />
<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Home Team</td>
            <td>Away Team</td>
            <td>Home User</td>
            <td>Away User</td>
            <td>Home Score</td>
            <td>Away Score</td>
            <td>Reported</td>
            <td>Confirmed</td>
            <td>Round</td>
            <td>Simulated</td>
        </tr>
    </thead>
    <tbody>
        {% for match in matches %}
            <tr>
                <td>{{ match.id }}</td>
                <td>{{ match.homeCompetitor.team.name }}</td>
                <td>{{ match.awayCompetitor.team.name }}</td>
                <td>{% if match.homeCompetitor.user is not null %}{{ match.homeCompetitor.user.username }}{% endif %}</td>
                <td>{% if match.awayCompetitor.user is not null %}{{ match.awayCompetitor.user.username }}{% endif %}</td>
                <td>{{ match.homeScore }}</td>
                <td>{{ match.awayScore }}</td>
                <td>{% if match.reported is not null %}{{ match.reported|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if match.confirmed is not null %}{{ match.confirmed|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ match.round.round }}</td>
                <td>{{ match.isSimulated }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

Competitors <br />
<table>
    <thead></thead>
    <tbody>
    {% for competitor in competitors %}
        <tr>
            <td>{{ competitor.id }}</td>
            <td>{{ competitor.team.name }}</td>
            <td>{% if competitor.user is not null %}{{ competitor.user.username }}{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>